<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AsyncLegacy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>BusStop with test data &amp; location.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>BusStop.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>BusStopTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>BusStopUnitTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4A0EA3581B21C0B000F747D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A0EA36D1B21C0B000F747D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A15474F1B7761EC0004688F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A15477A1B7766C60004688F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A1547841B7766C60004688F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A1547971B7767BA0004688F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A1547A11B7767BB0004688F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A1547B91B778AE20004688F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A1547D61B7795580004688F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
